{$PROXY_DOMAIN} {
	reverse_proxy kong:8000
}

{$POMODORO_DOMAIN} {
	reverse_proxy pomodoro:3000
}

{$HOOP_APP_DOMAIN} {
	handle /api/* {
		reverse_proxy hoop-api:3001
	}

	reverse_proxy hoop-web:3000
}
